/**, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.quest{
    text-align: center;
    justify-content: center;
    padding: 35px;
    font-size: 33px;
    color: rgb(71, 168, 71);
    text-decoration: underline;
    text-decoration-color: black;
}

.container-faq{
    width: 70%;
    max-width: 900px;
    min-width: 700px;
    height: auto;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.questions{
    width: 100%;
    height: auto;
    margin: 5px;
}

.visible-pannel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darkred;
    border-radius: 10px;
    position: relative;
    z-index: 100;
}

.visible-pannel:hover{
    background-color: blue;
    color: white;
}

.visible-pannel h2{
    margin-left: 10px;
    padding: 15px 15px;
    font-size:larger;
}

.visible-pannel img{
    margin-right: 10px;
    width: 20px;
    cursor: pointer;
}

.invisible{
    padding: 20px 15px;
    height: 0px;
}

.invisible h4{
    font-size: 18px;
    padding-bottom: 10px;
}

.invisible p{
    line-height: 1,5;
}*/

body{margin-top:20px;}
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}
