    .info_link {
        text-decoration: none;
        cursor: pointer;
    }
    
    
    #buton:hover {
        background-color: #dc3545;
    }
    
    #titre {
        color: #dc3545;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .dropdown-item:hover {
        background-color: black;
        color: white;
    }
    
    #bg_img {
        background-image: url("../media/cine0.jpg");
        background-size: cover;
        background-repeat: repeat-x;
     height: 100vh;
    }
    
    .form-border {
        border-radius: 4%;
    }

    #film-card{
       background-color: black;
    }

    .carousel-inner{
        padding-top: 1cm;
    }
    /*------
Settings
-------*/
    
    .nav-link {
        color: #dc3545;
    }
    
    .nav-link:hover {
        color: white;
    }
    
    .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #fff!important;
        background-color: #dc3545 !important;
    }
