    .info_link {
        text-decoration: none;
        cursor: pointer;
    }
    .no-style{
            text-decoration: none;
            color:#fff;
            font-size: 100%;
            font-family: inherit;
            border: 0;
            padding: 0;
            margin: 0;
            background-color: transparent;
            transition: 0.5s ease-in-out;
    }
    .no-style:hover{
        color:#dc3545;
        transform: scale(1.1) translateY(-6.5px);
    }
    
    
    #buton:hover {
        
        
        background-color: #dc3545;
    }
    
    #titre {
        color: #dc3545;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .dropdown-item:hover {
        background-color: black;
        color: white;
    }
    
    #bg_img {
        background-image: url("../media/cine0.jpg");
        background-size: cover;
        background-repeat: repeat-x;
     height: 100vh;
    }
    
    .form-border {
        border-radius: 4%;
    }

    #film-card{
       background-color: black;
    }

    .carousel-inner{
        padding-top: 1cm;
    }

    #ques1{
        background-color: black;
        color: red;
        /* border-color: red; */
    }

    #ques1:hover{
        background-color: red;
        color: black;
    }

    
    .nav-link {
        color: #dc3545;
    }
    
    .nav-link:hover {
        color: white;
    }
    
    .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #fff!important;
        background-color: #dc3545 !important;
    }
